
.containerLinkedCards{
    display: flex;
   
    flex-direction: column;
    /* Medium devices (landscape tablets, 768px and up) */
    @media only screen and (min-width: 700px) {
      flex-direction:row;
      gap: 20px;
      margin-right:10px;
    }

}

.iconSpace{
    margin-left: 5px;
    margin-right: 5px;
}

.cardSpace{
    margin-top: 20px;
}
.gallery {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 70px);
  gap: 20px;

  /* Add styles to prevent overlap with text below */
  position: relative;
  z-index: 1; /* Ensure the gallery is above other content */
}

@media screen and (max-width: 700px) {
  .gallery {
    display: block;
    margin: 0; /* Remove margin that causes overlap */
    grid-template-columns: auto; /* Reset column layout */
    grid-template-rows: auto; /* Reset row layout */
    gap: 0; /* Remove gap between items */

    /* Ensure the height of the container doesn't overlap with content below */
    height: auto; /* Adjust as needed */
  }
}

.gallery__item {
  text-align: center; /* Center the content horizontally */
  object-fit: cover;
  display: block;
 
  margin-bottom: 10px;

}

.gallery__item_1 {
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 1;
  grid-row-end: 1;
}
.gallery__item_2 {
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 1;
  grid-row-end:2;
}
.gallery__item\-3 {
  grid-column-start: 3;
  grid-column-end: 4;
  grid-row-start: 1;
  grid-row-end: 1;
}
.gallery__item_4 {
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 3;
  grid-row-end: 4;
}
.gallery__item_5 {
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 4;
  grid-row-end: 5;
}
.gallery__item_6 {
  grid-column-start: 3;
  grid-column-end: 4;
  grid-row-start: 3;
  grid-row-end: 5;
}

@media screen and (max-width: 700px) {
  .gallery__item_1{
    display: none;
  }
  .gallery__item_2{
    display: none;
  }
  .gallery__item_3{
    display: none;
  }
  .gallery__item_4 {
    display: none;
  }
  .gallery__item_5 {
    grid-column: span 3;
  }
  
  /* Adjust the remaining item to fill the width */
  .gallery__item_6 {
    display: none;
    height: 100%;
    width: 100%;
    
  }
}